#calendar
{
	height:500px;
	overflow: hidden;
	margin:auto;

}

#annuler_overflow
{
	text-align: center;
	width:98%;
	-webkit-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	-moz-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
}

.message_box 
{
	background-color: white;
	width:98%;
	height:250px;
	margin-top:30px;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	-moz-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
}

.link_box
{
	background-color: white;
	padding:7px;
	width:96%;
	height:250px;
	overflow: hidden;
	margin-top:30px;
	-webkit-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	-moz-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
}

.overflow_links::-webkit-scrollbar{
width:6px;
background-color:#d1cfca;
} 

.overflow_links::-webkit-scrollbar-thumb{
background-color:#e5e4e0;
border:1px solid #d1cfca;
border-radius:10px;
}

.overflow_links::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
} 

.le_message
{
	position:absolute;
	width:100%;
	height:250px;
	overflow: hidden;
	display:inline-block;
	margin:auto;
}

.title_message
{
	margin:auto;
	text-align:center;
	width:90%;
	padding:10px;
	border-bottom: 2px solid #FF0066;
}

.text_message
{
	height:55%;
	width:97%;
	margin-top: 10px;
	line-height:150%;
	padding:10px;
	margin:auto;
	background-color: white;
	color:black;
	text-align: left;
}

.nom_message
{
	margin-top:35px;
	margin-left: 10px;
	float:left;
	display:inline-block ;
	border-top: 1px solid #FF0066;
}

.date_message
{
	margin-top:35px;
	margin-right: 10px;
	float:right;
	display: inline-block;
	border-top: 1px solid #FF0066;
}

#link_table
{
	text-align: center;
	border-collapse: collapse;
	width:100%;
	height:100%;
}
.overflow_links
{
	overflow-y: scroll;
	height:80%;
}
th
{
	text-align: center;
}
.td_lien:hover
{
	background-color: #EBEDEC;
}

.link_title
{
	text-align: center;
	border-bottom: 2px solid #FF0066;
	width: 90%;
	margin: auto;
	padding: 10px;
}

.boite_a_idees
{
	width: 98%;
	height: 250px;
	background-color: white;
	margin-top: 30px;
	-webkit-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	-moz-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
}

.laisser_commentaire
{
	width: 95%;
	height: 250px;
	background-color: white;
	margin-left:15px;
	margin-top: 30px;
	-webkit-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	-moz-box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
	box-shadow: 1px 1px 14px -1px rgba(69,69,69,1);
}
#submit_commentaire
{
	margin-top:10px;
	margin-left:53px;
}

h4
{
	text-align: center;
	border-bottom: 2px solid #FF0066;
	width: 90%;
	margin: auto;
	padding: 10px;
}

.le_formulaire
{
	width:90%;
	margin:auto;
	margin-top:10px;
}

#zone_de_texte
{
	width:90%;
	margin:auto;
	margin-top:20px;
}

.rotate90 
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}